/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
 */

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

/*Headings*/

.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
}

/*Sections*/

.section-container {
    padding: 7% 15%;
}

.colored-section {
    background-color: #28B5B5;
    color: white;
}

.white-section {
    background-color: white;
}

/*Title Section*/

#title .section-container {
    padding: 3% 15% 7%;
    text-align: left;
    background: linear-gradient(-45deg, #4B778D, #28B5B5, #8FD9A8, #D2E69C);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*Navigation Bar*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-container {
    padding: 0 0;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.nav-link {
    margin: 0 20px;
    font-size: 1.25rem;
    font-weight: 100;
}

/*Download Buttons*/

.download-button {
    margin: 5% 3% 5% 0;
}

/*Title Image*/

.image-position {
    position: relative;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0deg);
        margin-top: 5%;
    }

    .title-media {
        text-align: center;
    }
}

/*Features Section*/
#features {
    position: relative;
}

.feature-box {
    padding: 5%;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: 900;
}

.icon {
    color: #8FD9A8;
    margin: 1rem;
}

.icon:hover {
    color: #28B5B5;
}

/*Testimonial Section*/

#testimonials {
    background-color: #8FD9A8;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
}

#press {
    background-color: #8FD9A8;
}
#press .section-container {
    padding-top: 0;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/*Pricing Section*/

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.pricing-title{
    font-size: 1.5rem;
    font-weight: 900;
    margin: 8px auto;
}
.card-header {
    background-color: #28B5B5;
}
.card:hover .card-header{
    background-color: #8FD9A8;
}
.price-range-txt {
    font-size: 3rem;
}

/*Call to Action Section*/

#cta {
    font-weight: 900;
}

#cta .download-button {
    margin-bottom: 0;
}

/*Footer Section*/

.social-icon {
    margin: 20px 10px;
}